name: website

# build the documentation whenever there are new commits on main
on:
  release:
    types: [ published ]
  workflow_dispatch: { }

# security: restrict permissions for CI jobs.
permissions:
  contents: read

jobs:
  # Build the documentation and upload the static HTML files as an artifact.
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: boundml
          python-version: 3.13
          auto-activate-base: false
          
      - run: |
            sudo apt install librange-v3-dev librange-v3-doc
            conda env list
            conda info
            conda install pip scip fmt pybind11 --channel conda-forge
            #p=$(conda info | grep  'env location' | sed 's: ::g')
            #CONDA_PREFIX=${p##*:}
            echo "Path: ${CONDA_PREFIX}"
            export CMAKE_PREFIX_PATH="${CONDA_PREFIX}"
            export CPLUS_INCLUDE_PATH="${CONDA_PREFIX}/include/"
            export LIBRARY_PATH=${CONDA_PREFIX}/lib
            export LD_LIBRARY_PATH=${CONDA_PREFIX}/lib
            pip install -e ./
            pip install pdoc
            pdoc boundml/__init__.py -o docs  --docformat numpy -e boundml=https://github.com/sirenard/BoundML/boundml/

      - run: touch docs/.nojekyll

      - uses: actions/upload-pages-artifact@v3
        with:
          path: docs/

  # Deploy the artifact to GitHub pages.
  # This is a separate job so that only actions/deploy-pages has the necessary permissions.
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
